# Entornos virtuales
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# .mds, archivos de lectura
*.docx
